global:
 scrape_interval:	 5s
 evaluation_interval: 5s
 external_labels:
  monitor: 'codelab-monitor'

rule_files:

scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
  - job_name: 'smartctl'
    static_configs:
      - targets: ['smartctl-exporter:9633']
